[mysqld]
## Uncomment on MySQL/Percona 5.7+
# max_connections = 1000
# innodb_read_io_threads = 8
# innodb_buffer_pool_size = 16G
# innodb_log_file_size = 1G
# innodb_flush_log_at_trx_commit = 2
# innodb_flush_method = O_DIRECT
