[mysqld]

# GENERAL #
default-storage-engine         = InnoDB

# MyISAM #
key-buffer-size                = 32M
myisam-recover                 = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 168M
max-connect-errors             = 1000000
skip-name-resolve
innodb                         = FORCE

## CACHES AND LIMITS #
tmp-table-size                 = 32M
max-heap-table-size            = 32M
query-cache-type               = 1
query-cache-size               = 128M
query-cache-limit              = 4G
max-connections                = 500
thread-cache-size              = 50
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 4096

# INNODB #
innodb-flush-log-at-trx-commit = 2
innodb-buffer-pool-size        = 4G
