[mysqld]
max_connections = 600
max_user_connections = 600

myisam_sort_buffer_size = 64M
join_buffer_size = 32M
read_buffer_size = 32M
sort_buffer_size = 32M
thread_cache_size = 286
interactive_timeout = 25
wait_timeout = 1800
connect_timeout = 10
max_connect_errors = 1000
query_cache_type = 1
tmp_table_size = 168M

max_allowed_packet = 128M
key_buffer = 640M
key_buffer_size = 640M
query_cache_limit = 320M
query_cache_size = 2G
innodb_buffer_pool_size=16G

innodb_flush_log_at_trx_commit=2
